<div class="hbox hbox-auto-xs bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;
  ">
    <!-- /column -->

    <!-- column -->
    <div class="col">
        <div class="vbox">
            <div class="wrapper bg-light lt b-b">
                <div class="container">
                    <div ng-controller="TabsParentController">
                        <tabset>
                            <tab ng-repeat="workspace in workspaces" heading="{{workspace.name}}" active=workspace.active ng-dblclick="">
                                <div ng-controller="TabsChildController">
                                    <div>
                                        {{$parent.workspace.id}} : {{ $parent.workspace.name}}
                                        <div ng-controller="TableCtrl">
                                            <table>
                                                <tr>
                                                    <th>Stock</th>
                                                    <th ng-repeat="key in keys">{{labels[key]}}</th>
                                                </tr>
                                                <tr ng-repeat="(stock, data) in tickers">
                                                    <td>{{stock}}</td>
                                                    <td ng-repeat="key in keys">{{data[key]}}</td>
                                                </tr>
                                            </table>
                                            <hr>
                                            <ul class="unstyled">
                                                <li ng-repeat="stock in stocks">
                                                    <input type="checkbox" ng-model="stock.checked" ng-click="click(stock)">{{stock.id}}</li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </tab>
                            <tab select="addWorkspace()">
                                <tab-heading><i class="icon-plus"></i>
                                </tab-heading>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
        </div>
        <!-- /column -->
    </div>
    <!-- /hbox layout