<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false; 
    app.settings.asideDock = false;
  ">

    <!-- main -->
    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <form ng-controller="TypeaheadDemoCtrl">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" ng-model="selected" typeahead="stock for stock in stocks | filter:$viewValue | limitTo:20" class="form-control input-sm bg-light no-border rounded padder" placeholder="Search stocks...">
                                <span class="input-group-btn">
                <button type="submit" class="btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button>
              </span>
                            </div>
                        </div>
                        <h1 class="m-n font-thin h3"> {{selected}} </h1>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <div class="row">

                <!--<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">LMT: LockHeed Martin</h1>
</div>-->
                <div ng-controller="high">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading font-bold">HighStock.js</div>
                            <div class="panel-body">
                                <highchart id="chart1" config="chartConfig"></highchart>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="wrapper-md">
                    <div ng-controller="FlotChartDemoCtrl">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading font-bold">Stock Price</div>
                                    <div class="bg-light dker wrapper m-t-n-xxs">
                                        <span class="pull-right">Friday</span>
                                        <span class="h4">$189.25</span>
                                        <div class="text-center m-b-n m-t-sm">
                                            <div ng-init="data2=[183, 185.55, 186.43, 189.29, 190.57, 190.79, 189.88, 186.15, 186.99, 187.12, 186.87, 187.97, 186.6, 185.51, 186.56, 186, 185.56, 187.93, 188.62, 188.67, 189.15, 191.56, 191.1, 190.11]" ui-jq="sparkline" ui-options="{{data2}}, {type:'line', height:65, width: '100%', lineWidth:2, valueSpots:{'0:':'#fff'}, lineColor:'#fff', spotColor:'#fff', fillColor:'', highlightLineColor:'#fff', spotRadius:3}"></div>

                                            <div ng-init="data3=[183, 185.55, 186.43, 189.29, 190.57, 190.79, 189.88, 186.15, 186.99, 187.12, 186.87, 187.97, 186.6, 185.51, 186.56, 186, 185.56, 187.93, 188.62, 188.67, 189.15, 191.56, 191.1, 190.11]" ui-jq="sparkline" ui-options="{{data3}}, {type:'bar', height:45, barWidth:6, barSpacing:6, barColor:'{{app.color.primary}}'}" class="sparkline inline">loading...</div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <small class="text-muted block">Revenue (FY 2013)</small>
                                                <span>$45.358 Bill.</span>
                                            </div>
                                            <div class="col-xs-4">
                                                <small class="text-muted block">Dividend Payout</small>
                                                <span>$6.00/Quarterly</span>
                                            </div>
                                            <div class="col-xs-4">
                                                <small class="text-muted block">Next Ex Div Date</small>
                                                <span>01/25</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading font-bold">HighStock.js</div>
                                    <div class="panel-body">
                                        <!-- <highchart id="chart1" config="chartConfig"></highchart> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6">

                                <div class="panel panel-default">
                                    <div class="panel-heading font-bold">Aerospace-defense Products & Services (Revenue)</div>
                                    <div class="panel-body">
                                        <div ui-jq="plot" ui-options="
              {{d3}},
              {
                series: { pie: { show: true, innerRadius: 0.5, stroke: { width: 0 }, label: { show: true, threshold: 0.05 } } },
                colors: ['{{app.color.primary}}','{{app.color.info}}','{{app.color.success}}','{{app.color.warning}}','{{app.color.danger}}'],
                grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },   
                tooltip: true,
                tooltipOpts: { content: '%s: %p.0%' }
              }
            " style="height:240px"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading font-bold">News</div>
                                    <div class="panel-body">
                                        <div class="m-b-md">
                                            <div>
                                                <p style="float: left;">
                                                    <img src="./img/lmtthumbnail.jpg" height="100px" width="134px" border="5px">
                                                </p>
                                                <p class="h3 font-thin">
                                                    <a href="http://www.reuters.com/article/2014/12/10/us-lockheed- skunkworks-idUSKBN0JO16S20141210U">
                                        (Reuters) Under pressure, Lockheed opens up about secret weapons unit
                                    </a>
                                                </p>
                                                Lockheed Martin Corp, the Pentagon's No. 1 weapons supplier, has rarely felt the pressure...
                                            </div>
                                        </div>
                                        <div class="m-b-md">
                                            <p class="h4 font-thin">
                                                <a href="http://www.nasdaq.com/article/lockheed-martin-wins-3-defense-contacts-worth-122m-analyst-blog-cm421632">
                                                    <br/>(Nasdaq) Lockheed wins 3 defense contracts worth $122M
                                                </a>
                                            </p>
                                        </div>
                                        <div class="m-b-md">
                                            <p class="h4 font-thin">
                                                <a href="http://www.pressconnects.com/story/money/2014/12/10/bill-includes-important-lockheed-funding/20189529/">
                                    (Press & Sun Bulletin) Bill includes $468M for key Lockheed helicopter programs
                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading font-bold">
                                        Views Today
                                    </div>
                                    <div class="panel-body text-center">
                                        <h4><small>last </small>12<small> hrs</small></h4>
                                        <div class="inline">
                                            <div ui-jq="easyPieChart" ui-options="{
                  percent: 35,
                  lineWidth: 10,
                  trackColor: '{{app.color.light}}',
                  barColor: '{{app.color.success}}',
                  scaleColor: '{{app.color.light}}',
                  size: 188,
                  lineCap: 'butt',
                  animate: 1000
                }">
                                                <div>
                                                    <span class="h2 m-l-sm step">25</span>
                                                    <div class="text text-sm">today</div>
                                                </div>
                                            </div>
                                        </div>
                                        <small class="text-muted block">yesterday: 20</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- / main -->
    <!-- right col -->
    <div class="col w-md bg-white-only b-l bg-auto no-border-xs">
        <tabset class="nav-tabs-alt" justified="true">
            <tab>
                <tab-heading>
                    <i class="glyphicon glyphicon-transfer text-md text-muted wrapper-sm"></i>
                </tab-heading>
                <div class="wrapper-md">
                    <div class="m-b-sm text-md">Transactions</div>
                    <p>Add shares of this stock to your portfolio.</p>

                    <div class="form-group">

                        <p>Stock purchased:</p>
                        <input type="text" name="stock_name" placeholder="ticker" class="form-control" value="LMT" />
                        <p class="m-t">Shares purchased:</p>
                        <input type="number" name="num_shares" placeholder="number of shares" class="form-control" />
                        <p class="m-t">Price at time of purchase:</p>
                        <input type="currency" name="stock_price" placeholder="price" class="form-control" value="$185.18" />
                        <!-- fix input type/view -->

                        <p class="m-t">Date purchased:</p>
                        <div class="input-group date" id="datetimepicker1">
                            <input type="date" name="purchase_date" placeholder="01/01/2001" class="form-control" value="12/15/2014" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>

                        <button type="submit" class="btn btn-default btn-rounded m-t" ng-click="">Submit</button>

                    </div>

                    <!--<script type="text/javascript"> reference: http://eonasdan.github.io/bootstrap-datetimepicker/
            $(function () {
                $('#datetimepicker1').datetimepicker({
            pickTime: false
                });
            });
        </script>-->

                    <p class="m-t">Recently viewed:</p>
                    <ul class="list-group list-group-sm list-group-sp list-group-alt auto m-t">
                        <li class="list-group-item">GOOG</li>
                        <li class="list-group-item">MSFT</li>
                        <li class="list-group-item">AAPL</li>
                    </ul>
                </div>
            </tab>
            <tab>
                <tab-heading>
                    <i class="glyphicon glyphicon-user text-md text-muted wrapper-sm"></i>
                </tab-heading>
                <div class="wrapper-md">
                    <div class="m-b-sm text-md">Who to follow</div>
                    <ul class="list-group no-bg no-borders pull-in">
                        <li class="list-group-item">
                            <a herf class="pull-left thumb-sm avatar m-r">
                                <img src="img/a4.jpg" alt="..." class="img-circle">
                                <i class="on b-white bottom"></i>
                            </a>
                            <div class="clear">
                                <div><a href>The Advisor Profile</a>
                                </div>
                                <small class="text-muted">advisor</small>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <a herf class="pull-left thumb-sm avatar m-r">
                                <img src="img/a1.jpg" alt="..." class="img-circle">
                                <i class="on b-white bottom"></i>
                            </a>
                            <div class="clear">
                                <div><a href>Karl Tharp</a>
                                </div>
                                <small class="text-muted">High Risk</small>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <a herf class="pull-left thumb-sm avatar m-r">
                                <img src="img/a2.jpg" alt="..." class="img-circle">
                                <i class="busy b-white bottom"></i>
                            </a>
                            <div class="clear">
                                <div><a href>Guan</a>
                                </div>
                                <small class="text-muted">Medium Risk</small>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <a herf class="pull-left thumb-sm avatar m-r">
                                <img src="img/a3.jpg" alt="..." class="img-circle">
                                <i class="away b-white bottom"></i>
                            </a>
                            <div class="clear">
                                <div><a href>Michael</a>
                                </div>
                                <small class="text-muted">Low Risk</small>
                            </div>
                        </li>
                    </ul>
                    <div class="text-center">
                        <a href class="btn btn-sm btn-primary padder-md m-b">More Connections</a>
                    </div>
                </div>
            </tab>


        </tabset>
        <div class="padder-md">

        </div>
    </div>
    <!-- / right col -->
</div>