/* 
  
  News from New York Times using Article Search API
  - http://developer.nytimes.com/docs
*/

@import url(http://fonts.googleapis.com/css?family=Muli);
body {
    font-family: "Muli";
    font-size: 13px;
}
tr {
    cursor: pointer;
}
.content {
    background-color: LightGray;
    padding: 20px;
}
th {
    background-color: LightGray;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px;
    /* bottom = footer height */
}
.error {
    color: red;
    margin-left: 10px;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-top: 20px;
    height: 60px;
    width: 100%;
    background-color: #949494;
}
.colwrapper {
    -moz-column-count: 3;
    /* Firefox */
    
    -webkit-column-count: 3;
    /* Safari and Chrome */
    
    column-count: 3;
}
button {
    margin-left: 10px;
}
.loading {
    position: fixed;
    color: #ffffff;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
/* Scrollable drop down stock selecter */

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */

* html .ui-autocomplete {
    height: 100px;
}